spring:
  profiles:
    active: dev # OR prod


cloud:
  aws:
    credentials:
      access-key:
      secret-key:

    region:
      static: ap-northeast-2
    stack:
      auto: false
    s3:
      bucket: rebuild-lion
